
<header>
    <h2 id="mininav">{{title}}</h2>
</header>
<div>
	{% if not games %}
	<p>You have no open games</p>
	{% endif %}
	{% for game in games %}
	<div class="openGame">
        {% if game.game.status == 2 %}
        <span class='undo' data-gameid="{{game.game.id}}">Undo<canvas width='16' height='16'>{{game.game.modified.isoformat}}</canvas></span>
        {% endif %}
		<span>In ladder <b>{{game.game.ladder.name}}</b> created on {{game.game.created|date:"M j, Y"}}.</span><br />
		<div>
			<div data-gameid="{{game.game.id}}" data-teamid="{{game.game.red.id}}" class="teamLink buttonRed redTeam"><b>{{game.game.red.name}} |</b> <span class='teamSize'>{{game.red_rating|stringformat:"i"}}</span></div>
		</div>
		vs
		<div>
			<div data-gameid="{{game.game.id}}" data-teamid="{{game.game.blu.id}}" class="teamLink buttonBlue bluTeam"><b>{{game.game.blu.name}} |</b> <span class='teamSize'>{{game.blu_rating|stringformat:"i"}}</span></div>
		</div>
	</div>
	{% endfor %}
</div>

<script type="text/javascript">
    Ladder.Report.addEvents();
    Ladder.Report.addUndo();
</script>