{% load irange %}

<!DOCTYPE html>

<html>

    <head>
        <!-- <link rel="stylesheet" type="text/css" href="/static/javascript/ext4/resources/css/ext-all-scoped.css" /> -->
        <link rel="stylesheet" href="{{ MEDIA_URL }}ladder/c/styles.css" type="text/css" />
        
        {% block extrastyle %}{% endblock %}
    
        <title>{{title}}</title>
        
        <script type="text/javascript" src="{{ MEDIA_URL }}ladder/j/mootoolsCore.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}ladder/j/mootoolsMore.js"></script>
        <!--<script type="text/javascript" src="/static/javascript/ext4/ext-all.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}ladder/j/ladder.js"></script>-->
        <script type="text/javascript" src="{{ MEDIA_URL }}ladder/j/lib/routie.min.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}ladder/j/HashListener.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}ladder/j/HistoryManager.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}ladder/j/GrowingInput.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}ladder/j/TextboxList.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}ladder/j/TextboxList.Autocomplete.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}ladder/j/lib/MilkChart.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}ladder/j/lib/moment.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}ladder/j/lib/ladder.js"></script>

        <script type="text/javascript">
            window.addEvent('domready', function() {
                // QuickGame
                // $('quickGameMenu').addEvent('click', function() {
                //     var div = new Element('div', {
                //         id: 'win',
                //         load: {
                //             url: '/ladder/forms/quick',
                //             onSuccess: function() {
                //                 var clearWin = function(e) {
                //                     if (e.target != div && !e.target.getParents().contains(div)) {
                //                         div.destroy();
                //                         window.removeEvent('click', clearWin);
                //                     }
                //                 }
                //                 window.addEvent('click', clearWin);
                //             }
                //         }
                //     }).inject(document.body);
                //     div.load();
                //     div.position({
                //         relativeTo: $('report_game_button'),
                //         position: 'bottomLeft',
                //         edge: 'bottomLeft'
                //     });
                    
                // });
            });
            
        </script>
        
        {% block modulescript %}{% endblock %}
        {% block extrascript %}{% endblock %}
        
    </head>
    
    <body>
        <div id="wrap">
            <header>
                
            </header>
            <div id="notify"><div>This is an error</div></div>
            <div id="ticker"></div>
            <div id="content">
                <div id="sidepanel">
                    <nav>
                        <!-- <div id='home_link' class="current home"><a href='#'><div></div></a></div> -->
                        <div id='ladder_link' class="ladder"><a href='#ladder'><div></div> Ladders</a></div>
                        <!-- <div id='tourn_link' class="tourn"><a href='#tourn'><div></div></a></div> -->
                    </nav>
                    <h1>{{user.first_name}} {{user.last_name}}</h1>
                    <div id="userImage"></div>
                    <div>
                        <div id="report_game_button" class='button buttonRed buttonHasMenu1'>
                            Report Game
                        </div>
                        <!-- <div id="quickGameMenu" class="buttonMenu" title="Quick Game">▼</div> -->
                    </div>
                    <h3>Teams</h3>
                    <ul id="userTeams">
                        {% for team in teams %}
                        <li id='team_{{team.id}}' class='teamLink'>{{team}} | <span class='teamSize'>{{team.members.all|length}}</span></li>
                        {% endfor %}
                    </ul>
                    <p>
                        <a id="team_create" href="#team/create">Create Team</a>
                    </p>
                </div>
                <div id="main">
                    <div id='swap'>
                        
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>



































