<header>
    <h2 id="mininav">{{title}}</h2>
</header>
<div id='content_body'>
	{% for ladder in ladders %}
    <a href="#ladder/{{ladder.id}}">
    	<div class='ladderItem'>
            <div>
    			<h2>{{ladder.name}}</h2>
    			<h2>{{ladder.team_size}}v{{ladder.team_size}}</h2>
    			<div class='aggression'>{{ladder.aggression}}</div>
    			
    		</div>
    		<div>
    			{{ladder.description}}
    		</div>
    	</div>
    </a>
	{% endfor %}
</div>
<script type="text/javascript">
    Ladder.agressionGauge();
</script>