{% load irange %}

<header>
    <h2 id="mininav">{{title}}</h2>
</header>
<div>
    {% if not games %}
    <p>You have no open ladder games</p>
    {% else %}
    <h2>Ladder Games</h2>
    {% for game in games %}
    <div class="openGame">
        {% if game.game.status == 2 %}
        <span class='undo' data-gameid="{{game.game.id}}">Undo<canvas width='16' height='16'>{{game.game.modified.isoformat}}</canvas></span>
        {% endif %}
        <span>In ladder <b><a href='#ladder/{{game.game.ladder.id}}'>{{game.game.ladder.name}}</a></b> created on {{game.game.created|date:"M j, Y"}}.</span><br />
        <div>
            <div data-gameid="{{game.game.id}}" data-teamid="{{game.game.red.id}}" class="teamLink buttonRed redTeam"><b>{{game.game.red.name}} |</b> <span class='teamSize'>{{game.red_rating|stringformat:"i"}}</span></div>
        </div>
        vs
        <div>
            <div data-gameid="{{game.game.id}}" data-teamid="{{game.game.blu.id}}" class="teamLink buttonBlue bluTeam"><b>{{game.game.blu.name}} |</b> <span class='teamSize'>{{game.blu_rating|stringformat:"i"}}</span></div>
        </div>
    </div>
    {% endfor %}
    {% endif %}

    {% if not matches %}
    <p>You have no open tournament matches</p>
    {% else %}
    <h2>Tournament Matches</h2>
    {% for match in matches %}
    <div class="openGame">
        <span>In tournament <b>{{match.tournament.name}}, Round {{match.round}}</b></span><br />
        <div>
            <div data-matchid="{{match.id}}" data-teamid="{{match.red.id}}" class="teamLink buttonRed redTeam"><b>{{match.red.name}}</b></div>
        </div>
        vs
        <div>
            <div data-matchid="{{match.id}}" data-teamid="{{match.blu.id}}" class="teamLink buttonBlue bluTeam"><b>{{match.blu.name}}</b></div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>

<script type="text/javascript">
    (function() {
        Ladder.Report.addEvents();
    })();
</script>