{% if not ajax %}

<link rel="stylesheet" href="{{ MEDIA_URL }}ladder/c/styles.css" type="text/css" />

<script type="text/javascript" src="{{ MEDIA_URL }}ladder/j/mootoolsCore.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}ladder/j/mootoolsMore.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}ladder/j/lib/MilkChart.js"></script>
{% endif %}
<header>
    <h2 id="mininav">{{title}}</h2>
</header>
<div id='ladder_team'>
    <div id="team_info">
        <div id="roster">
            <h3>Roster</h3>
            <ul>
                {% for member in object.members.all %}
                <li>{{member.username}}</li>
                {% endfor %}
            </ul>
        </div>
        <div id="ladders">
            <h3>Ladder Memberships</h3>
            <ul>
                {% for membership in object.laddermembership_set.all %}
                <li>
                    <span class='ratingswap' data-ladderid='{{membership.ladder.id}}'><img src='{{ MEDIA_URL }}ladder/i/chart_line.png' /></span>
                    <a href="#ladder/{{membership.ladder.id}}">
                        <div class='teamLink'>
                        <b>{{membership.ladder.name}}</b>
                        <span class='teamSize'>{{membership.rating.rating|stringformat:"i"}}</span></div>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div id='rating_history'>
        <h3>Rating History</h3>
        {% with ladder=object.laddermembership_set.all|first %}
        <table id='rating_table' title="{{ladder.ladder.name}}" class='data'>
            <thead>
                <tr>
                    <th>Rating</th>
                </tr>
            </thead>
            <tbody>
                {% for rating in ratings %}
                <tr>
                    <td>{{rating.rating|stringformat:"i"}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endwith %}
    </div>

    <div id='game_history'>
        <h3>Game History</h3>
        <table id="games_table" class='data ladder'>
            <thead>
                <tr>
                    <th>Opponent</th>
                    <th>Ladder</th>
                    <th>Date</th>
                    <th>Δ</th>
                </tr>
            </thead>
            <tbody>
                {% for game in games|slice:":5" %}
                <tr class='{{game.win|yesno:"win,loss"}}'>
                    <td><a href="#team/{{game.opponent.id}}">{{game.opponent.name}}</a></td>
                    <td><a href="#ladder/{{game.ladder.id}}">{{game.ladder.name}}</a></td>
                    <td>{{game.date|date:"M j, Y"}}</td>
                    <td>
                        {% if game.delta >= 0 %}
                        <div class='arrowGreen'></div>{{game.delta|stringformat:"i"}}
                        {% else %}
                        <div class='arrowRed'></div>{{game.delta|stringformat:"i"|slice:"1:"}}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if games|length > 5 %}<div id="showMoreButton" class="button">Show All</div>{% endif %}
    </div>
</div>
<script type="text/javascript">
    (function() {
        Ladder.Team.getChart({{object.id}});
        Ladder.Team.buildShowMore({{object.id}});
    })();
</script>
